/*=============================================
			=       Footer     =
=============================================*/

.footer{
	position: relative;
	margin: 0 auto;
	max-width: 700px;
	width: 100%;
	margin-top: 50px;

	.border-top{
		border-top: 1px solid $light-grey;
		position: relative;
		margin: 0 auto;
		width: 45%;
		height: 1px;
		opacity: .5;
	}

	.footer-link-container{
		position: relative;
		top: 50px;
		padding-bottom: 50px;
		.google-plus{
			display: block;
			position: relative;
			width: 18px;
			height: 18px;
			margin: 0 auto;
			margin-top: 40px;
			margin-bottom: 30px;
			@include transition(all, .5s, ease);
		}
		.google-plus:hover{
			-ms-transform: rotate(225deg); /* IE 9 */
			-webkit-transform: rotate(225deg); /* Chrome, Safari, Opera */
			-moz-transform: rotate(225deg);
			transform: rotate(225deg);
			@include transition(all, .2s, ease);
		}
	}
	.button{
		background-color: $blue;
		border-color: transparent;
		color: $grey;
		margin-bottom: 20px;
	}
	.button:hover{
		background-color: transparent;
		color: $black;
		border-color: $black;
	}
	#back-to-top{
		color: $grey;
		font-size: .9em;
		font-variant: small-caps;
	}
	#back-to-top:hover{
		opacity: .8;
	}

	.copyright{
		position: relative;
		display: block;
		color: $light-grey;
		text-transform: uppercase;
		font-size: .4em;
		margin-top: 25px;
	}
}
/*-----  End of Footer ------*/