@import url(//fonts.googleapis.com/css?family=Lato:100,300,500,700);
/*@import "compass/reset";*/

/*Stylesheets */
@import "variables";
@import "animations";
@import "grid";

/*Stylesheets - End */

body, html {
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	font-family: 'Lato', helvetica;
	text-align: center;
	color: $black;
	background-color: $white;
	font-weight: 300;
	-webkit-tap-highlight-color: transparent;

	::selection{
	color:$white;
	background-color:$dark-blue;
	}

	a{
		text-decoration: none;
		@include transition(all, .5s, ease);
		color: $dark-blue;
	}

	a:hover{
		text-decoration: none;
		@include transition(all, .2s, ease);
	}

}

.wrapper{
	max-width: 900px;
	width: 100%;
	position: relative;
	margin: 0 auto;
}

h1,h2,h3,h4,h5,h6{
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}
b, strong{
	font-weight: 700;
	text-decoration: underline;
}

p{
	font-family: 'Open Sans',sans-serif;
	color: $grey;
	font-size: 1.15em;
	line-height: 1.45em;
	text-align: justify;
}

/*==============================
=            Button            =
==============================*/

.button{
	color: rgb(42,42,42);
	color: rgba(42,42,42,.5);
/* Extra color for older browser support */
	border-color: rgb(42,42,42);
	border:1px solid rgba(42,42,42,.2);
/* Extra color for older browser support */
	max-width: 100%;
	position: relative;
	display: block;
	padding: 16px 8px 18px 8px;
	font-variant: small-caps;
	font-size: 1.1em;
	letter-spacing: 1px;
	max-width: 150px;
	margin: 0 auto;
	text-align: center;
	@include transition(all, .8s, ease);
}
.button:hover{
	border-color: $black;
	color: $black;
	opacity: 1;
	@include transition(all, .2s, ease);
}

.button-left{
	margin-left: 10px;
	padding: 11px 5px 13px 5px;
	max-width: 120px;
}

/*-----  End of Button  ------*/



/*===========================
=            NAV            =
===========================*/

.nav{
	max-width: 1000px;
	position: relative;
	margin: 0 auto;
	margin-top: 30px;
	width: 90%;
	background-color: $bg-grey;
	text-align: left;
	margin-bottom: 50px;
	ul{
		padding-top: 20px;
		padding-bottom: 60px;
	}
	li{
		display: inline-block;
	}
	.nav-link{
		margin-left: 0;
		color: #969696;
		letter-spacing: 2px;
		font-variant: small-caps;
	}
	.nav-link:hover{
		color: $grey;
	}
	.left{
        margin-top: 10px;
		float: left;
	}
	.right{
		float: right;
		margin-right: 10px;
		position: relative;
		display: block;
		a{
			color: $grey;
			margin-left: 5px;
			margin-right: 5px;
			img{
				width: 10px;
				position: relative;
				margin: 0 auto;
				vertical-align: baseline;
				@include transition(all, .2s, ease);
			}
			img:hover{
				opacity: .8;
				@include transition(all, .2s, ease);
			}
		}
        a:hover{
            color: $blue;   
        }
	}
}

/*-----  End of NAV  ------*/



/*================================
	=        SECTIONS        =
================================*/

section{

	p{
    	text-align: left;
    	padding: 0 10px 20px 10px;
    }
    h1{
    	text-align: left;
    	font-size: 2.8em;
    	font-variant: small-caps;
    	color: $grey;
    	padding: 0 10px 15px 10px;
    }
}

/*-----  End of SECTIONS  ------*/



/*=============================================
	=            Banner img           =
=============================================*/

.section-container-banner{
	position: relative;
	margin: 0 auto;
	max-width: 700px;
}
.banner{
	max-width: 700px;
	width: 100%;
}
.banner-img{
	height: 100%;
}
.overlay{
	background-color: rgba(227,227,227,.6);
	position: absolute;
	max-width: 700px;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 1;
}
.banner-text {
	position: absolute;
	z-index: 5;
	top: 42.5%;
	width: 100%;
	text-align: center;
	z-index: 9999999;
	h1{
		text-align: center;
		color: $black;
		font-size: 26px;
		letter-spacing: 5px;
		font-weight: 300;
		line-height: 60px;
		margin-left: 5px;
		-webkit-font-smoothing: antialiased;
	}
}

/*-----  End of Banner img  ------*/


/*=============================
=            About            =
=============================*/

.about{
	position: relative;
	margin: 0 auto;
	margin-top: 150px;
	margin-bottom: 40px;
	max-width: 400px;
	width: 100%;

	p{
		text-align: center;
		line-height: 1.5;
		margin: 0 auto;
		font-size: 1em;
		color: $grey;
		opacity: .8;
	}
	.border-bottom{
		border-bottom: 1px solid $light-grey;
		position: relative;
		margin: 0 auto;
		margin-top: 10px;
		width: 45%;
		height: 1px;
		opacity: .5;
	}
}



/*-----  End of About  ------*/




/*=============================================
	=       Picture link section      =
=============================================*/

.section-link{
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 250px;
	background-color: #EDEDED;

	.section-link-container{
		position: relative;
		top: 40%;
	}
	.button{
		border-color: $grey;
		background-color: $grey;
		color: $white;
	}
	.button:hover{
		background-color: #EDEDED;
		color: $black;
	}
}
.background-blue{
	background-color: $blue;
	.button{
		border-color: $white;
		background-color: $white;
		color: $grey;
	}
	.button:hover{
		background-color: transparent;
		color: $white;
	}
}

.background-pink{
	background-color: $pink;
	.button{
		border-color: $grey;
		background-color: $grey;
		color: $white;
	}
	.button:hover{
		background-color: transparent;
		color: $grey;
	}
}

/*-----  End of Picture link section  ------*/




/*=============================================
	=            Blog section           =
=============================================*/

.blog{
	width: 100%;
	max-width: 700px;
	position: relative;
	margin: 0 auto;
	margin-top: 20px;
	text-align: left;
	h1{
		margin-bottom: 5px;
	}
	p, h2{
		padding-left: 10px;
	}
	h2{
		padding-bottom: 5px;
		font-size: 1.6em;
	}
	p{
		font-size: .6em;
		text-transform: uppercase;
		letter-spacing: 1px;
	}.blog-title{
		color: $grey;
	}
	.blog-list-container{
		position: relative;
		display: block;
		padding: 20px 0 10px 0;
		background-color: $light-bg-grey;
		@include transition(all, .2s, ease);
	}
	.blog-list-container:nth-child(2n+2){
		background-color: $white;
		@include transition(all, .2s, ease);
	}
	.blog-list-container:hover{
		background-color: $blue;
		@include transition(all, .1s, ease);
	}
	.blog-list-container:nth-child(2n+2):hover{
		background-color: $blue;
		@include transition(all, .1s, ease);
	}
	.button-left{
		margin-top: 30px;
	}
}

/* Blog list page */
.list-section{
	margin-top: 0;
	.button{
		margin-top: 30px;
	}
}

/*-----  End of Blog section  ------*/









/*Stylesheets */
@import "post";
@import "footer";
@import "mobile";

/*Stylesheets - End */
