---
title: Home
layout: default
---



<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>404 - Will Stanley</title>
	{% if page.description %}
	<meta name="description" content="{{page.description}}" />
	{% else %}
	<meta name="description" content="{{site.description}}" />
	{% endif %}
	<meta name="keywords" content="web design, design, front end developer, development, Will, Stanley, Will Stanley, willstanley95, instagram, blog, Banbury, Oxfordshire" />
	<meta name="author" content="Will Stanley" />
	<meta name="twitter:site" content="@willstanley95" />
  	<meta name="twitter:creator" content="@willstanley95" />
	<link rel="shortcut icon" href="../favicon.ico">
	<link href="stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href='//fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>

</head>

<body>

	<nav class="nav">
		<ul>
			<li class="left">
				<a class="nav-link" href="/">will stanley</a>
			</li>
			<li class="right">
				<a href="//twitter.com/willstanley95" target="_blank"><img src="img/twitter.svg"></a>
			</li>
			<li class="right">
				<a href="//instagram.com/willstanley95" target="_blank"><img src="img/instagram.svg"></a>
			</li>
		</ul>
	</nav>

	


	<section class="about">
		<p>
			Whoops, 404... <br> <br>
			Check out my blog posts? <br> <br>
			Or go <a href="/">home</a>?
		</p>
		<div class="border-bottom"></div>
	</section>


	<section class="blog">	
		<!--CONTENT GOES HERE -->

		{% for post in site.posts limit:  %}

	          <a class="blog-list-container" title="{{ post.title }}" href="{{ post.url }}">
	          	<h2 class="blog-title" >{{ post.title }}</h2>
	          <p class="blog-date">{{ post.date | date_to_long_string }}</p>
	          </a>
 
  		{% endfor %}


	</section>
	

	<footer class="footer">
		<div class="border-top"></div>
		<div class="footer-link-container">
			<a href="mailto:info@willstanley.co?subject=Hello!" class="button">hi</a>
			<a rel="author" href="https://plus.google.com/107072524711087593894?rel=author" target="_blank" class="google-plus"><img src="img/cross.svg" alt=""></a>
			<a id="back-to-top" href="#top">back to top</a>
			<a class="copyright" href="/">&copy; 2014 will stanley</a>
		</div>
	</footer>






	<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	
	<script src="js/script.js"></script>

</body>
</html>