---
title: Home
layout: default
---



<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Jay H. Lee</title>

    <meta name="keywords" content="teacher, high school, special education, Jay, Lee, Boston, Seattle"/>
	<meta name="author" content="Jay H. Lee" />

	<link href="stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href='//fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>

</head>

<body>

    {% include navigation.html %}
	
	<section class="section-banner">
		<div class="section-container-banner">
			<div class="banner-text">
				<h1>hello, i'm jay.</h1>
			</div>
		</div>
	</section>

	<section class="about">
		<p>
            Hey what's going on?
        </p>
		<div class="border-bottom"></div>
	</section>


    {% include footer.html %}

	<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>


</body>
</html>
