  <footer class="footer">
    <div class="border-top"></div>
    <div class="footer-link-container">
      <a href="mailto:info@willstanley.co?subject=Hello!" class="button">hi</a>
      <a rel="author" href="https://plus.google.com/107072524711087593894?rel=author" target="_blank" class="google-plus"><img src="/img/cross.svg" alt=""></a>
      <a id="back-to-top" href="#top">back to top</a>
      <a class="copyright" href="/">&copy; 2014 will stanley</a>
    </div>
  </footer>



  <!--INSTAGRAM
  <script src="js/instagram.js"></script>
  <script type="text/javascript">
   var userFeed = new Instafeed({
        get: 'user',
        userId: 19770215,
        resolution: 'standard_resolution',
        accessToken: '19770215.467ede5.9402ab3b69b847a1bf44d55d7cfac31c',
        template: '<a href="{{link}}" target="_blank"><img src="{{image}}" /></a>',
        limit: 9
    });

    userFeed.run();</script>
  <!--INSTAGRAM END-->



  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.js"></script>
  
  <script src="/js/script.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-43265003-1', 'willstanley.co');
    ga('send', 'pageview');

  </script>
  
</body>
</html>