<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - Jay H Lee</title>

    <meta name="keywords" content="{{ site.keywords }}" />
    <meta name="author" content="{{ site.name }}" />
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/prettify.css">

</head>
<body onload="prettyPrint()">



    {% include navigation.html %}