    <nav class="nav">
		<ul>
			<li class="left">
				<a class="nav-link" href="{{ site.baseurl }}">JAY H LEE</a>
			</li>
			<li class="right">
				<a href="{{ site.baseurl }}/about/">about</a> / <a href="{{ site.baseurl }}/contact/">contact</a>
			</li>
            <li class="right">
				<a href="{{ site.baseurl }}/philosophy-of-education/">philosophy of education</a>
			</li>
            <li class="right">
				<a href="{{ site.baseurl }}/classroom-climate/">classroom climate</a>
			</li>
            <li class="right">
				<a href="{{ site.baseurl }}/promotes-equity/">promotes equity</a>
			</li>
            <li class="right">
				<a href="{{ site.baseurl }}/professional-documentation/">professional documentation</a>
			</li>
            <li class="right">
				<a href="{{ site.baseurl }}/community-involvement/">community involvement</a>
			</li>
            <li class="right">
				<a href="{{ site.baseurl }}/curriculum-and-instruction/">curriculum and instruction</a>
			</li>
            <li class="right">
				<a href="{{ site.baseurl }}/professional-responsibilities/">professional responsibilities</a>
			</li>
            <li class="right">
				<a href="{{ site.baseurl }}/special-education-skills/">special education skills</a>
			</li>
		</ul>
	</nav>