{% include header.html %}


<div class="post-wrapper">

    <h1>About Me</h1>

    <div class="content">
        <p><img src="{{ site.baseurl }}/img/headshot.jpg" />    </p>
        <p>
        I grew up in the suburbs north of Chicago and attended Niles West high school. For college, I went into the city and went to the <a href="http://www.uic.edu/uic/">University of Illinois at Chicago</a> (UIC), where I studied English- Creative Writing. After completing undergrad and receiving my bachelor’s degree, I moved to Massachusetts to attend graduate school and <a href="http://www.gordonconwell.edu/">Gordon-Conwell Theological Seminary</a> (GCTS) to study theology. Along the way in my studies at GCTS, I became aware of Landmark School and began to work with their residential department, and shortly fell into teaching. In many ways, my teaching career began by accident, but over the past 4 years I’ve been able to grow and develop in this profession that I enjoy. 
        </p>
    </div>
    
    <h1>Contact</h1>
    
    <div class="content">
        Feel free to contact me at <a href="mailto:jay@jhahnlee.com">jay@jhahnlee.com</a>
    </div>
    
</div>


{% include footer.html %}
        
